:root {
  --tablet-width: 768px;
}

article {
  max-width: var(--tablet-width);
  margin: 24px auto;
}

article h1 {
  font-weight: bold;
}

article h2 {
  margin-top: 1.4em;
  font-weight: 600;
}

article h3 {
  font-weight: 600;
}

article hr {
  margin-top: 12px;
}

article p {
  margin-top: 12px;
}

article a {
  text-decoration-line: underline;
}

@media only screen and (max-width: 768px) {
  article {
    margin: 16px 24px;
  }
}
