@import "../styles/gruvbox.scss";
@import "../styles/global-style.scss";

.bigTitle {
  @include custom-text-style("Cozette", 2em, $gb-dm-light-gray);
  text-transform: uppercase;
  text-align: center;

  @media only screen and (max-width: 768px) {
    font-size: 1.3em;
  }
}

.text {
  @include normal-text;
  text-align: center;
}

.orangeText {
  color: $gb-dm-light-orange;
}

.aquaText {
  color: $gb-dm-light-aqua;
}

.intoduceSection {
  margin-top: 20px;
}