@import "../styles/gruvbox.scss";
@import "../styles/global-style.scss";

.bigTitle {
  @include custom-text-style("Cozette", 2em, $light-gray);
  text-transform: uppercase;
  text-align: center;

  @media only screen and (max-width: 768px) {
    font-size: 1.3em;
  }
}

.text {
  @include normal-text;
  text-align: center;
}

.orangeText {
  color: $light-orange;
}

.aquaText {
  color: $light-aqua;
}

.intoduceSection {
  margin-top: 20px;
}

.headerTitleSection {
  margin: auto;
  min-height: 720px;
  max-width: 1024px;
  width: 100%;
  position: relative;

  background-image: url("/images/dalat-v1.jpg");
  background-attachment: fixed;
  background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  .headerTitleContent {
    position: absolute;
    width: 600px;
    left: 220px;
    top: 78px;

    background: rgba(40, 40, 40, 0.07);
    backdrop-filter: blur(2px);
    font-family: 'Roboto Slab';
    font-style: normal;
    border-radius: 4px;;

    padding: 35px 30px;
  }

  .headerShadow {
    position: absolute;
    bottom: 0px;
    left: 0px;

    height: 64px;
    width: 100%;

    background: linear-gradient(180deg,
        rgba(40, 40, 40, 0) 0%,
        rgba(40, 40, 40, 0.5) 50%,
        #282828 100%);
  }
}