.musicPlayer {
  border-radius: 8px;
  background-color: #665c54;

  // opacity: 0.9;

  min-width: 430px;
  padding: 30px 0;

  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .songImage {
    width: 320px;
    height: 320px;
    border: 2px solid #665c54;
    border-radius: 8px;

    margin-right: auto;
    margin-left: auto;

    // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .buttonGroup {
    max-width: 320px;

    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quoteContainer {
    background-color: #a89984;
    width: 320px;
    margin: auto;
    margin-top: 30px;
    padding: 15px 10px;
    border-radius: 4px;
    text-align: center;
    color: #1d2021;

    // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

}