@import "../../styles/gruvbox.scss";
@import "../../styles/global-style.scss";

.navigationBar {
  @include custom-flex(flex, space-between, center);
  background-color: $bg2;
  margin: 5px;

  .leftSection {
    @include custom-flex(flex, flex-start, center);

    .pageLogo {
      display: flex;
      align-items: center;
      width: fit-content;

      padding: 5px 10px;

      font-family: "Cozette";
      letter-spacing: 1px;
      font-size: 1.6em;

      background-color: $light-blue;
    }

    .pageName {
      @include custom-flex();
      @include normal-text();

      margin: auto 10px;
    }
  }
}

.linkGroup {
  margin: 5px;
  padding: 5px;
  background-color: $bg2;

  .linkItem {
    padding: 5px;
    @include normal-text();

    &:hover {
      background-color: $bg3;
    }
  }
}