@import "../../styles/gruvbox.scss";
@import "../../styles/global-style.scss";

.navigationBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationContentWrapper{
  width: 100%;
  padding: 27px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationBarContent {
  display: flex;
  align-items: center;
}
