@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
  @apply font-nunito;
}

:root {
  --tablet-width: 768px;
}

@layer base {
  body {
    position: relative;
    min-height: 100vh;

    /* Padding for the footer */
    padding-bottom: 150px;
    overflow-x: hidden;
  }

  main {
    max-width: var(--tablet-width);
    margin: auto;
  }

  a:hover {
    @apply underline;
    cursor: pointer;
  }
}
